<mat-toolbar color="primary" class="mat-elevation-z0">
    <span><mat-icon >eco</mat-icon>COFFEE LOVE</span>
  <div class="spacer"></div>
  <a routerLink="home" mat-button>HOME</a>
  <a routerLink="map" mat-button>MAP</a>
  <a routerLink="create" mat-button>SIGN UP</a>
  <a routerLink="about" mat-button>ABOUT US </a>
  <a routerLink="profile" mat-button>PROFILE</a>
  <a routerLink="list" mat-raised-button color="accent">SIGN IN</a>
  
  </mat-toolbar>
  
  
  <div>
    <router-outlet></router-outlet>
  </div>